<div class="tab {{tab.cssClass}}" data-tab="colors" data-group="primary">
  <div class="form-group">
    <label for="topColor">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.TOPCOLOR.LABEL"
      }}</label>
    <input
      type="text"
      name="topColor"
      id="topColor"
      value="{{config.topColor}}"
      data-color-picker="{alphaChannel: false}"
    />
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.TOPCOLOR.HINT"
      }}</p>
  </div>

  <div class="form-group">
    <label for="midColor">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.MIDCOLOR.LABEL"
      }}</label>
    <input
      type="text"
      name="midColor"
      id="midColor"
      value="{{config.midColor}}"
      data-color-picker="{alphaChannel: false}"
    />
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.MIDCOLOR.HINT"
      }}</p>
  </div>

  <div class="form-group">
    <label for="botColor">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.BOTCOLOR.LABEL"
      }}</label>
    <input
      type="text"
      name="botColor"
      id="botColor"
      value="{{config.botColor}}"
      data-color-picker="{alphaChannel: false}"
    />
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.BOTCOLOR.HINT"
      }}</p>
  </div>

  <div class="form-group">
    <label for="fontColor">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.FONTCOLOR.LABEL"
      }}</label>
    <input
      type="text"
      name="fontColor"
      id="fontColor"
      value="{{config.fontColor}}"
      data-color-picker="{alphaChannel: false}"
    />
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.FONTCOLOR.HINT"
      }}</p>
  </div>

  <div class="form-group">
    <label for="fontShadow">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.FONTSHADOW.LABEL"
      }}</label>
    <input
      type="text"
      name="fontShadow"
      id="fontShadow"
      value="{{config.fontShadow}}"
      data-color-picker="{alphaChannel: false}"
    />
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.FONTSHADOW.HINT"
      }}</p>
  </div>

  <div class="form-group">
    <label for="subColor">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.SUBCOLOR.LABEL"
      }}</label>
    <input
      type="text"
      name="subColor"
      id="subColor"
      value="{{config.subColor}}"
      data-color-picker="{alphaChannel: false}"
    />
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.SUBCOLOR.HINT"
      }}</p>
  </div>

  <div class="form-group">
    <label for="subShadow">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.SUBSHADOW.LABEL"
      }}</label>
    <input
      type="text"
      name="subShadow"
      id="subShadow"
      value="{{config.subShadow}}"
      data-color-picker="{alphaChannel: false}"
    />
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.BOSSSPLASH.SUBSHADOW.HINT"
      }}</p>
  </div>
</div>