<section
  data-role="step-config"
  data-id="{{config.id}}"
  data-transition-type="diamondwipe"
>
  <input type="hidden" name="id" id="id" value="{{config.id}}" />
  <p>{{localize "BATTLETRANSITIONS.DIAMONDWIPE.DESCRIPTION"}}</p>

  {{> "modules/battle-transitions/templates/steps/partials/label.hbs" this}}

  {{! Duration }}
  {{> "modules/battle-transitions/templates/steps/partials/duration-selector.hbs" this}}

  <div class="form-group">
    <label for="size">{{localize "BATTLETRANSITIONS.SCENECONFIG.DIAMOND.SIZE.LABEL"}}</label>
    <input type="number" min="0" step="1" value="{{config.size}}" name="size" id="size" required>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.DIAMOND.SIZE.HINT"}}</p>
  </div>

  {{! Background }}
  {{> "modules/battle-transitions/templates/steps/partials/background-selector.hbs" this}}
  {{! Eeasing }}
  {{> "modules/battle-transitions/templates/steps/partials/easing-selector.hbs" this}}
</section>