<section
  data-role="step-config"
  data-id="{{config.id}}"
  data-transition-type="textureswap"
>
  <input type="hidden" name="id" id="id" value="{{config.id}}" />
  <p>{{localize "BATTLETRANSITIONS.TEXTURESWAP.DESCRIPTION"}}</p>

  {{> (moduleTemplate "steps/partials/label.hbs") this }}

  {{! Background }}
  {{> (moduleTemplate "steps/partials/background-selector.hbs") this }}

  <div class="form-group">
    <label for="texture-replace">{{localize "BATTLETRANSITIONS.SCENECONFIG.TEXTURESWAP.REPLACE.LABEL"}}</label>
    <input type="checkbox" id="texture-replace" name="replace" {{checked config.replace}}>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.TEXTURESWAP.REPLACE.HINT"}}</p>
  </div>

  {{! Dual style }}
  {{> (moduleTemplate "steps/partials/dualstyle-selector.hbs") this }}
</section>