<div
  class="flexcol step-config-item"
  data-transition-type="chromakey"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" value="{{id}}" name="step.id" id="step.id" />
    <p>{{localize "BATTLETRANSITIONS.CHROMAKEY.DESCRIPTION"}}</p>
    <div class="form-group">
      <label for="step.key-color">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.KEYCOLOR.LABEL"
        }}</label>
      <input
        type="text"
        data-color-picker="{alphaChannel: false}"
        name="step.key-color"
        id="step.key-color"
        value="{{keyColor}}"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.KEYCOLOR.HINT"
      }}</p>
    <div class="form-group">
      <label for="step.background">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.BACKGROUND.LABEL"
        }}</label>
      <input
        type="text"
        data-color-picker="{alphaChannel: true}"
        name="step.background"
        id="step.background"
        value="{{background}}"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.BACKGROUND.HINT"
      }}</p>
  </form>
</div>