<div
  class="flexcol step-config-item"
  data-transition-type="diamondwipe"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" value="{{id}}" name="id" id="id" />
    <p>{{localize "BATTLETRANSITIONS.DIAMONDWIPE.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="label" id="label" value="{{label}}">
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
    <div class="form-group">
      <label for="size">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.DIAMOND.SIZE.LABEL"
        }}</label>
      <input
        type="number"
        min="0"
        step="1"
        value="{{size}}"
        name="size"
        id="size"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.DIAMOND.SIZE.HINT"
      }}</p>
      {{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}
    <div class="form-group">
      <label for="easing">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"
        }}</label>
      <select name="easing" id="easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"
      }}</p>
  </form>
</div>