<div
  class="flexcol step-config-item"
  data-transition-type="firedissolve"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" value="{{id}}" name="step.id" id="step.id" />
    <p>{{localize "BATTLETRANSITIONS.FIREDISSOLVE.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="step.label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="step.label" id="step.label" value="{{label}}">
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
    <div class="form-group">
      <label for="step.burnsize">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.FIREDISSOLVE.BURNSIZE.LABEL"
        }}</label>
      <input
        type="number"
        name="step.burnSize"
        id="step.burnSize"
        min="0"
        required
        step="any"
        value="{{burnSize}}"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.FIREDISSOLVE.BURNSIZE.HINT"
      }}</p>
    <div class="form-group">
      <label for="step.easing">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"
        }}</label>
      <select name="step.easing" id="step.easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"
      }}</p>
  </form>
</div>