<div
  class="flexcol step-config-item"
  data-transition-type="linearwipe"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" value="{{id}}" name="id" id="id" />
    <p>{{localize "BATTLETRANSITIONS.SCENECONFIG.LINEARWIPE.DESCRIPTION"}}</p>
    <div class="form-group">
      <label for="direction">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.LINEARWIPE.DIRECTION.LABEL"
        }}</label>
      <select name="direction" id="direction">
        {{selectOptions directionSelect selected=direction localize=true}}
      </select>
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.LINEARWIPE.DIRECTION.HINT"
      }}</p>
    <div class="form-group">
      <label for="duration">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.LINEARWIPE.DURATION.LABEL"
        }}</label>
      <input
        type="number"
        name="duration"
        id="duration"
        value="{{duration}}"
        step="1"
        min="0"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.LINEARWIPE.DURATION.HINT"
      }}</p>
    <div class="form-group">
      <label for="background">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.LINEARWIPE.BACKGROUND.LABEL"
        }}</label>
      <input
        type="text"
        data-color-picker="{alphaChannel: true}"
        id="background"
        name="background"
        value="{{background}}"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.LINEARWIPE.BACKGROUND.HINT"
      }}</p>
    <div class="form-group">
      <label for="easing">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"
        }}</label>
      <select name="easing" id="easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"
      }}</p>
  </form>
</div>