<div
  class="flexcol step-config-item"
  data-transition-type="loadingtip"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.LOADINGTIP.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="label" id="label" value="{{label}}" />
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    <div class="form-group">
      <label for="sourceType">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.SOURCETYPE.LABEL"}}</label>
      <select name="sourceType" id="sourceType">
        {{selectOptions sourceSelect selected=sourceType localize=true}}
      </select>
    </div>
    <p class="notes" data-source-type="string">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.SOURCETYPE.STRING.HINT"}}</p>
    <p class="notes" data-source-type="rolltable">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.SOURCETYPE.ROLLTABLE.HINT"}}</p>

    <section data-source-type="string">
      <div class="form-group">
        <label for="message">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.MESSAGE.LABEL"}}</label>
        <input type="text" name="message" id="message" value="{{message}}">
      </div>
      <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.MESSAGE.HINT"}}</p>
    </section>

    <section data-source-type="rolltable">
      <div class="form-group">
        <label for="table">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.ROLLTABLE.LABEL"}}</label>
        <select name="table" id="table">
          <option value=""></option>
          {{selectOptions tableSelect selected=table localize=false}}
        </select>
      </div>
      <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.ROLLTABLE.HINT"}}</p>
    </section>
    
    <div class="form-group">
      <label for="location">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.LOCATION.LABEL"}}</label>
      <select name="location" id="location">
        {{selectOptions locationSelect selected=location localize=true}}
      </select>
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.LOCATION.HINT"}}</p>


    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
  </form>
</div>