<div
  class="flexcol step-config-item"
  data-transition-type="loadingtip"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.LOADINGTIP.DESCRIPTION"}}</p>

    <section class="dialog-content sheet">
      <nav class="sheet-tabs tabs" data-group="primary-tabs">
        <a data-tab="basics">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.TABS.BASICS"}}</a>
        <a data-tab="font">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.TABS.FONT"}}</a>
      </nav>
    </section>

    <section class="tab-content no-row-gap">
      <div class="tab" data-tab="basics" data-group="primary-tabs">
        <div class="form-group">
          <label for="label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
          <input type="text" name="label" id="label" value="{{label}}" />
        </div>
        <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

        <div class="form-group">
          <label for="sourceType">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.SOURCETYPE.LABEL"}}</label>
          <select name="sourceType" id="sourceType">
            {{selectOptions sourceSelect selected=sourceType localize=true}}
          </select>
        </div>
        <p class="notes" data-source-type="string">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.SOURCETYPE.STRING.HINT"}}</p>
        <p class="notes" data-source-type="rolltable">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.SOURCETYPE.ROLLTABLE.HINT"}}</p>

        <section data-source-type="string">
          <div class="form-group">
            <label for="message">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.MESSAGE.LABEL"}}</label>
            <input type="text" name="message" id="message" value="{{message}}">
          </div>
          <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.MESSAGE.HINT"}}</p>
        </section>

        <section data-source-type="rolltable">
          <div class="form-group">
            <label for="table">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.ROLLTABLE.LABEL"}}</label>
            <select name="table" id="table">
              <option value=""></option>
              {{selectOptions tableSelect selected=table localize=false}}
            </select>
          </div>
          <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.ROLLTABLE.HINT"}}</p>
        </section>
        
        <div class="form-group">
          <label for="location">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.LOCATION.LABEL"}}</label>
          <select name="location" id="location">
            {{selectOptions locationSelect selected=location localize=true}}
          </select>
        </div>
        <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.LOCATION.HINT"}}</p>


        {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
      </div>
      <div class="tab" data-tab="font" data-group="primary-tabs">
        {{> "/modules/battle-transitions/templates/font-selector.hbs" this}}

        <div class="form-group">
          <label for="fontSize">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.FONTSIZE.LABEL"}}</label>
          <input type="number" name="fontSize" id="fontSize" value="{{fontSize}}" min="8" step="1" required>
        </div>
        <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.FONTSIZE.HINT"}}</p>


        <div class="form-group">
          <label for="fontColor">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.FONTCOLOR.LABEL"}}</label>
          <input type="text" id="fontColor" name="fontColor" value="{{fontColor}}" data-color-picker="{alphaChannel: false}">
        </div>
        <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.LOADINGTIP.FONTCOLOR.HINT"}}</p>
      </div>
    </section>
  </form>
</div>