<div
  class="flexcol step-config-item"
  data-transition-type="macro"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" value="{{id}}" name="step.id" id="step.id" />
    <p>{{localize "BATTLETRANSITIONS.MACRO.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="step.label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="step.label" id="step.label" value="{{label}}">
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    <p class="form-group">
      <label for="step.macro">{{localize
          "BATTLETRANSITIONS.MACRO.NAME"
        }}</label>
      <select name="step.macro" id="step.macro">
        {{#group macros by="pack"}}
          {{#if value}}<optgroup label="{{value}}">{{/if}}
            {{#each items}}
              <option value="{{uuid}}">{{name}}</option>
            {{/each}}
          {{#if value}}</optgroup>{{/if}}
        {{/group}}
      </select>
    </p>
  </form>
</div>