<div
  class="flexcol step-config-item"
  data-transition-type="parallel"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="step.id" id="step.id" value="{{id}}" />
    <input
      type="hidden"
      name="step.oldScene"
      id="step.oldScene"
      value="{{oldScene}}"
    />
    <input
      type="hidden"
      name="step.newScene"
      id="step.newScene"
      value="{{newScene}}"
    />
    <p class="notes">{{localize "BATTLETRANSITIONS.PARALLEL.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="step.label">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"
        }}</label>
      <input type="text" name="step.label" id="step.label" value="{{label}}" />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"
      }}</p>

    <table class="no-margins">
      <tr>
        <td id="step.sequence-list">

          <button data-action="add-sequence">
            <i class="fas fa-plus"></i>
            {{localize "BATTLETRANSITIONS.SCENECONFIG.PARALLEL.ADDSEQUENCE"}}
          </button>
        </td>
        <td class="flexcol" id="step.selected-sequence" data-index="">
          <div class="flex0 centered full-width" id="step.sequence-name"></div>
          <div id="step.selected-sequence-steps" class="flex1">

          </div>
          <div class="right-align" id="step.total-duration"></div>
          <div class="flex0">
            <button
              data-action="add-step"
              id="step.add-step"
              name="step.add-step"
            ><i class="fas fa-plus"></i>{{localize
                "BATTLETRANSITIONS.SCENECONFIG.BUTTONS.ADDSTEP"
              }}</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>