<div
  class="flexcol step-config-item"
  data-transition-type="radialwipe"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}" />
    <div class="form-group">
      <label for="radial">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.RADIAL.LABEL"
        }}</label>
      <select name="radial" id="radial">
        {{selectOptions radialOptions selected=radial localize=true}}
      </select>
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.RADIAL.HINT"
      }}</p>
    <div class="form-group">
      <label for="duration">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.LABEL"
        }}</label>
      <input
        type="number"
        min="0"
        step="1"
        value="{{duration}}"
        name="duration"
        id="duration"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.HINT"
      }}</p>
    <div class="form-group">
      <label for="background">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.BACKGROUND.LABEL"
        }}</label>
      <input
        type="text"
        data-color-picker="{alphaChannel: true}"
        value="{{background}}"
        name="background"
        id="background"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.BACKGROUND.HINT"
      }}</p>
  </form>
</div>