<div
  class="flexcol step-config-item"
  data-transition-type="radialwipe"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.SCENECONFIG.RADIALWIPE.DESCRIPTION"}}</p>
    <div class="form-group">
      <label for="radial">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.RADIAL.LABEL"
        }}</label>
      <select name="radial" id="radial">
        {{selectOptions radialOptions selected=radial localize=true}}
      </select>
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.RADIAL.HINT"
      }}</p>
    <div class="form-group">
      <label for="duration">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.LABEL"
        }}</label>
      <input
        type="number"
        min="0"
        step="1"
        value="{{duration}}"
        name="duration"
        id="duration"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.HINT"
      }}</p>
{{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}
    <div class="form-group">
      <label for="easing">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"
        }}</label>
      <select name="easing" id="easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"
      }}</p>
  </form>
</div>