<div class="flexcol step-config-item" data-transition-type="repeat" data-id="{{id}}">
  <form>
    <input type="hidden" id="id" name="id" value="{{id}}">
    <p>{{localize "BATTLETRANSITIONS.REPEAT.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="iterations">{{localize "BATTLETRANSITIONS.SCENECONFIG.REPEAT.ITERATIONS.LABEL"}}</label>
      <input type="number" min="2" step="1" value="{{iterations}}" id="iterations" name="iterations">
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.REPEAT.ITERATIONS.HINT"}}</p>

    <div class="form-group">
      <label for="delay">{{localize "BATTLETRANSITIONS.SCENECONFIG.REPEAT.DELAY.LABEL"}}</label>
      <input type="number" min="0" step="1" value="{{delay}}" id="delay" name="delay">
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.REPEAT.DELAY.HINT"}}</p>

    <div class="form-group">
      <label for="style">{{localize "BATTLETRANSITIONS.SCENECONFIG.REPEAT.STYLE.LABEL"}}</label>
      <select name="style" id="style">
        {{selectOptions styleSelect selected=style localize=true}}
      </select>
    </div>
    <p class="notes" style="display:none;" data-repeat-style="previous">{{localize "BATTLETRANSITIONS.SCENECONFIG.REPEAT.PREVIOUS.HINT"}}</p>
    <p class="notes" style="display:none;" data-repeat-style="sequence">{{localize "BATTLETRANSITIONS.SCENECONFIG.REPEAT.SEQUENCE.HINT"}}</p>

    <section id="sequenceContainer">
      {{> "/modules/battle-transitions/templates/transition-steps.hbs"}}
    </section>
  </form>
</div>
