<div
  class="flexcol step-config-item"
  data-transition-type="radialwipe"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="step.id" id="step.id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.REVERSE.DESCRIPTION"}}</p>
    <div class="form-group">
      <label for="step.delay">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.REVERSE.DELAY.LABEL"
        }}</label>
      <input
        type="number"
        min="0"
        step="any"
        required
        name="step.delay"
        id="step.delay"
        value="{{delay}}"
      />
    </div>
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.REVERSE.DELAY.HINT"
      }}</p>
  </form>
</div>