<div
  class="flexrow sequence-item"
  data-index="{{index}}"
  data-sequence="{{serialized}}"
  data-role="sequence-item"
>
  <div
    class="link flex1"
    data-action="editSequence"
    data-index="{{index}}"
  >{{name}}</div>
  <div class="flex0"><i
      class="fas fa-fw fa-cogs link"
      data-action="editSequence"
      data-index="{{index}}"
    ></i></div>
  <div class="flex0"><i
      class="fas fa-fw fa-trash-alt link"
      data-action="deleteSequence"
      data-index="{{index}}"
    ></i></div>

</div>