<div
  class="flexcol step-config-item"
  data-transition-type="sound"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="step.id" id="step.id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.SOUND.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="step.label">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"
        }}</label>
      <input type="text" name="step.label" id="step.label" value="{{label}}" />
    </div>
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"
      }}</p>

    <div class="form-group">
      <label for="step.file">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.SOUND.FILE.LABEL"
        }}</label>
      <file-picker
        name="step.file"
        id="step.file"
        type="audio"
        value="{{file}}"
        required
      ></file-picker>
    </div>
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.SOUND.FILE.HINT"
      }}</p>
    <div class="form-group">
      <label for="step.volume">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.VOLUME.LABEL"
        }}</label>
      <range-picker
        value="{{volume}}"
        min="0"
        max="100"
        step="1"
        id="step.volume"
        name="step.volume"
      ></range-picker>
    </div>
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.VOLUME.HINT"
      }}</p>
  </form>
</div>