<div
  class="flexcol step-config-item"
  data-transition-type="spotlightwipe"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" id="step.id" name="step.id" value="{{id}}" />
    <p>{{localize
        "BATTLETRANSITIONS.SPOTLIGHTWIPE.DESCRIPTION"
      }}</p>

    <div class="form-group">
      <label for="step.label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="step.label" id="step.label" value="{{label}}">
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    <div class="form-group">
      <label for="step.direction">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.DIRECTION.LABEL"
        }}</label>
      <select name="step.direction" id="step.direction">
        {{selectOptions directionSelect selected=direction localize=true}}
      </select>
    </div>
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.DIRECTION.HINT"
      }}</p>
    <div class="form-group">
      <label for="step.radial">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.RADIAL.LABEL"
        }}</label>
      <select name="step.radial" id="step.radial">
        {{selectOptions radialSelect selected=radial localize=true}}
      </select>
    </div>
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.RADIAL.HINT"
      }}</p>
      {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
      {{> "/modules/battle-transitions/templates/config/falloff-config.hbs" this}}
      {{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}
    <div class="form-group">
      <label for="step.easing">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"
        }}</label>
      <select name="step.easing" id="step.easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="hint">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"
      }}</p>
  </form>
</div>