<input type="hidden" data-select-hint="" data-select-hook="" data-select-mode="" data-select-scene="">

<input type="hidden" name="oldScene" id="oldScene" value="{{oldScene}}">
<input type="hidden" name="newScene" id="newScene" value="{{newScene}}">

<label>{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGET.LABEL"}}</label>
<p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGET.HINT"}}</p>

<select name="targetType" id="targetType" value="{{targetType}}" style="width:100%">
  {{selectOptions targetTypeSelect localize=true selected=targetType}}
</select>

{{!-- Point --}}
<section data-target-type="point">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.POINT.HINT"}}</p>
  <div class="flexrow">
    <div class="center">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.POINT.X"}}</div>
    <input type="number" value="{{pointX}}" min="0" max="1" step="any" name="pointX" id="pointX">
    <div class="center">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.POINT.Y"}}</div>
    <input type="number" name="pointY" id="pointY" value="{{pointY}}" min="0" max="1" step="any">
  </div>
</section>

{{!-- Token --}}
<section data-target-type="oldtoken">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.TOKEN.CURRENTSCENE.HINT"}}</p>
  <select name="selectedOldToken" id="selectedOldToken" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions oldTokenSelect selected=selectedTarget }}
  </select>
  <button data-action="select-old-token">
    <i class="fas fa-fw fa-spinner fa-spin-pulse"></i>
    {{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.TOKEN.SELECT"}}
  </button>
</section>
<section data-target-type="newtoken">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.TOKEN.NEWSCENE.HINT"}}</p>
  <select name="selectedNewToken" id="selectedNewToken" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions newTokenSelect selected=selectedTarget }}
  </select>
  <button data-action="select-new-token">
    <i class="fas fa-fw fa-spinner fa-spin-pulse"></i>
    {{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.TOKEN.SELECT"}}
  </button>
</section>

{{!-- Tile --}}
<section data-target-type="oldtile">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.TILE.CURRENTSCENE.HINT"}}</p>
  <select name="selectedOldTile" id="selectedOldTile" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions oldTileSelect selected=selectedTarget }}
  </select>
  <button data-action="select-old-tile">
    <i class="fas fa-fw fa-spinner fa-spin-pulse"></i>
    {{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.TILE.SELECT"}}
  </button>
</section>
<section data-target-type="newtile">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.TOKEN.NEWSCENE.HINT"}}</p>
  <select name="selectedNewTile" id="selectedNewTile" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions newTileSelect selected=selectedTarget }}
  </select>
  <button data-action="select-new-tile">
    <i class="fas fa-fw fa-spinner fa-spin-pulse"></i>
  </button>
</section>

{{!-- Drawing --}}
<section data-target-type="olddrawing">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.DRAWING.CURRENTSCENE.HINT"}}</p>
  <select name="selectedOldDrawing" id="selectedOldDrawing" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions oldDrawingSelect selected=selectedTarget}}
  </select>
</section>
<section data-target-type="newdrawing">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.DRAWING.NEWSCENE.HINT"}}</p>
  <select name="selectedNewDrawing" id="selectedNewDrawing" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions newDrawingSelect selected=selectedTarget}}
  </select>
</section>

{{!-- Note --}}
<section data-target-type="oldnote">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.NOTE.CURRENTSCENE.HINT"}}</p>
  <select name="selectedOldNote" id="selectedOldNote" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions oldNoteSelect selected=selectedTarget}}
  </select>
</section>
<section data-target-type="newnote">
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.TARGETTYPE.NOTE.NEWSCENE.HINT"}}</p>
  <select name="selectedNewNote" id="selectedNewNote" value="{{selectedTarget}}">
    <option></option>
    {{selectOptions newNoteSelect selected=selectedTarget}}
  </select>
</section>
<p class="notes"></p>