<div
  class="flexcol step-config-item"
  data-transition-type="textureswap"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.TEXTURESWAP.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="label">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"
        }}</label>
      <input type="text" name="label" id="label" value="{{label}}" />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"
      }}</p>
      
      {{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}

      {{> "/modules/battle-transitions/templates/config/dualtransition-selector.hbs" this}}
  </form>
</div>