<div
  class="flexcol step-config-item"
  data-transition-type="video"
  data-id="{{id}}"
  style="min-height: 256px;"
>
  <form>
    <input type="hidden" name="step.id" id="step.id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.VIDEO.DESCRIPTION"}}</p>

    <section class="dialog-content sheet">
      <nav class="sheet-tabs tabs" data-group="config">
        <a data-action="tab" data-group="config" data-tab="basics">{{localize "BATTLETRANSITIONS.SCENECONFIG.VIDEO.TABS.BASICS"}}</a>
        <a data-action="tab" data-group="config" data-tab="chromakey">{{localize "BATTLETRANSITIONS.SCENECONFIG.VIDEO.TABS.CHROMAKEY"}}</a>
      </nav>
    </section>

    <section class="tab-content no-row-gap">
      <div class="tab active" data-tab="basics" data-group="config">
        <div class="form-group">
          <label for="step.label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
          <input type="text" name="step.label" id="step.label" value="{{label}}">
        </div>
        <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

        <div class="form-group">
          <label for="step.file">{{localize
              "BATTLETRANSITIONS.SCENECONFIG.VIDEO.FILE.LABEL"
            }}</label>
          {{#if isV1}}
            <input type="text" name="step.file" id="step.file" required value="{{file}}" />
            {{filePicker type="video" target="file"}}
          {{else}}
            <file-picker
              name="step.file"
              id="step.file"
              type="video"
              value="{{file}}"
              required
            ></file-picker>
          {{/if}}
        </div>
        <p class="hint">{{localize
            "BATTLETRANSITIONS.SCENECONFIG.VIDEO.FILE.HINT"
          }}</p>
        <div class="form-group">
          <label for="step.volume">{{localize
              "BATTLETRANSITIONS.SCENECONFIG.COMMON.VOLUME.LABEL"
            }}</label>
          {{#if isV1 }}
            {{rangePicker
              name="step.volume"
              value=volume
              min=0
              max=100
              step=1
              id="step.volume"
            }}
          {{ else }}
            <range-picker
              value="{{volume}}"
              min="0"
              max="100"
              step="1"
              id="step.volume"
              name="step.volume"
            ></range-picker>
          {{/if}}
        </div>
        <p class="hint">{{localize
            "BATTLETRANSITIONS.SCENECONFIG.COMMON.VOLUME.HINT"
          }}</p>

        <div class="form-group">
          <label for="step.clear">{{localize "BATTLETRANSITIONS.SCENECONFIG.VIDEO.CLEAR.LABEL"}}</label>
          <input type="checkbox" name="step.clear" id="step.clear" {{checked clear}}>
        </div>
        <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.VIDEO.CLEAR.HINT"}}</p>

        {{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}
      </div>

      <div class="tab" data-tab="chromakey" data-group="config">
        <p class="hint">{{localize "BATTLETRANSITIONS.CHROMAKEY.DESCRIPTION"}}</p>
        <div class="form-group">
          <label for="step.enableChromaKey">{{localize "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.ENABLE.LABEL"}}</label>
          <input type="checkbox" {{checked enableChromaKey}} id="step.enableChromaKey" name="step.enableChromaKey">
        </div>

        <div class="form-group">
          <label for="step.chromaKey">{{localize "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.KEYCOLOR.LABEL"}}</label>
          <input type="text" data-color-picker="{}" name="step.chromaKey" id="step.chromaKey" value="{{chromaKey}}">
        </div>
        <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.KEYCOLOR.HINT"}}</p>
        
        <div class="form-group">
          <label>{{localize "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.RANGE.LABEL"}}</label>
          <div class="flexrow">
            <div class="center">{{localize "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.RANGE.X"}}</div>
            <input type="number" value="{{keyRangeX}}" min="0" max="1" step="any" name="step.keyRange" id="step.keyRangeX">
            <div class="center">{{localize "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.RANGE.Y"}}</div>
            <input type="number" name="step.keyRange" id="step.keyRangeY" value="{{keyRangeY}}" min="0" max="1" step="any">
          </div>
        </div>
        <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.CHROMAKEY.RANGE.HINT"}}</p>
      </div>
    </section>
  </form>
</div>