<div
  class="flexcol step-config-item"
  data-transition-type="wait"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}" />
    <div cla="form-group">
      <label for="duration">{{localize
          "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.LABEL"
        }}</label>
      <input
        type="number"
        min="0"
        step="1"
        value="{{duration}}"
        name="duration"
        id="duration"
      />
    </div>
    <p class="notes">{{localize
        "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.HINT"
      }}</p>
  </form>
</div>