<div class="flexcol step-config-item" data-transition-type="zoom" data-id="{{id}}">
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}">
    <p>{{localize "BATTLETRANSITIONS.ZOOM.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="label" id="label" value="{{label}}">
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    <div class="form-group">
      <label for="amount">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.AMOUNT.LABEL"}}</label>
      <input type="number" name="amount" id="amount" value="{{amount}}" min="0" step=".01">
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.AMOUNT.HINT"}}</p>

    <div class="form-group">
      <label for="clampBounds">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.CLAMPBOUNDS.LABEL"}}</label>
      <input type="checkbox" name="clampBounds" id="clampBounds" {{checked clampBounds}}>
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.CLAMPBOUNDS.HINT"}}</p>
    
    {{> "/modules/battle-transitions/templates/config/target-selector.hbs" this}}

    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
    {{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}

    {{> "/modules/battle-transitions/templates/config/dualtransition-selector.hbs" this}}
    <div class="form-group">
      <label for="easing">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"}}</label>
      <select name="easing" id="easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"}}</p>
  </form>
</div>
