<div class="flexcol step-config-item" data-transition-type="zoom" data-id="{{id}}">
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}">
    <p>{{localize "BATTLETRANSITIONS.ZOOM.DESCRIPTION"}}</p>
    <div class="form-group">
      <label for="amount">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.AMOUNT.LABEL"}}</label>
      <input type="number" name="amount" id="amount" value="{{amount}}" min="0" step=".01">
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.AMOUNT.HINT"}}</p>

    <div class="form-group">
      <label for="clampBounds">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.CLAMPBOUNDS.LABEL"}}</label>
      <input type="checkbox" name="clampBounds" id="clampBounds" {{checked clampBounds}}>
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.CLAMPBOUNDS.HINT"}}</p>
    
    <label>{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGET.LABEL"}}</label>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGET.HINT"}}</p>

    <select name="targetType" id="targetType" value="{{targetType}}">
      {{selectOptions targetTypeSelect localize=true selected=targetType }}
    </select>

    <section data-target-type="point">
      <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.POINT.HINT"}}</p>
      <div class="form-group">
        <label for="pointX">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.POINT.X"}}</label>
        <input type="number" min="0" max="1" value="{{pointX}}" name="pointX" id="pointX">
        <label for="pointY">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.POINT.Y"}}</label>
        <input type="number" min="0" max="1" value="{{pointY}}" name="pointY" id="pointY">
      </div>
    </section>
    <section data-target-type="token">
      <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.TOKEN.HINT"}}</p>
      {{#if oldScene}}
        <select name="selectedToken" id="selectedToken">
          <option value=""></option>
          {{selectOptions tokenSelect selected=selectedToken localize=false}}
        </select>
      {{/if}}
      <button data-action="select-token">
        <i class="fas fa-fw fa-spinner fa-spin-pulse" style="display:none"></i>
        {{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.TOKEN.SELECT"}}
      </button>
    </section>
    <section data-target-type="tile">
      <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.TILE.HINT"}}</p>
      {{#if oldScene}}
        <select name="selectedTile" id="selectedTile">
          <option value=""></option>
          {{selectOptions tileSelect selected=selectedTile localize=false}}
        </select>
      {{/if}}
      <button data-action="select-tile">
        <i class="fas fa-fw fa-spinner fa-spin-pulse" style="display:none"></i>
        {{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.TILE.SELECT"}}
      </button>
    </section>
    <section data-target-type="drawing">
      <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.DRAWING.HINT"}}</p>
      {{#if oldScene}}
        <select name="selectedDrawing" id="selectedDrawing">
          <option value=""></option>
          {{selectOptions drawingSelect selected=selectedDrawing localize=true}}
        </select>
      {{/if}}
      <button data-action="select-drawing">
        <i class="fas fa-fw fa-spinner fa-spin-pulse" style="display:none"></i>
        {{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.DRAWING.SELECT"}}
      </button>
    </section>
    <section data-target-type="note">
      <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.NOTE.HINT"}}</p>
      {{#if oldScene}}
        <select name="selectedNote" id="selectedNote">
          <option value=""></option>
          {{selectOptions noteSelect selected=selectedNote localize=false}}
        </select>
      {{/if}}
      <button data-action="select-note">
        <i class="fas fa-fw fa-spinner fa-spin-pulse" style="display:none"></i>
        {{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.TARGETTYPE.NOTE.SELECT"}}
      </button>
    </section>
    <p class="notes"></p>

    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
    {{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}
    <div class="form-group">
      <label for="easing">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"}}</label>
      <select name="easing" id="easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"}}</p>
  </form>
</div>
