<div class="flexcol step-config-item" data-transition-type="zoom" data-id="{{id}}">
  <form>
    <input type="hidden" name="step.id" id="step.id" value="{{id}}">
    <p>{{localize "BATTLETRANSITIONS.ZOOM.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="step.label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="step.label" id="step.label" value="{{label}}">
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    <div class="form-group">
      <label for="step.amount">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.AMOUNT.LABEL"}}</label>
      <input type="number" name="step.amount" id="step.amount" value="{{amount}}" min="0" step="any" required >
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.AMOUNT.HINT"}}</p>

    <div class="form-group">
      <label for="step.clampBounds">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.CLAMPBOUNDS.LABEL"}}</label>
      <input type="checkbox" name="step.clampBounds" id="step.clampBounds" {{checked clampBounds}}>
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOM.CLAMPBOUNDS.HINT"}}</p>
    
    {{> "/modules/battle-transitions/templates/config/target-selector.hbs" this}}

    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
    {{> "/modules/battle-transitions/templates/config/background-selector.hbs" this}}

    {{> "/modules/battle-transitions/templates/config/dualtransition-selector.hbs" this}}
    <div class="form-group">
      <label for="step.easing">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"}}</label>
      <select name="step.easing" id="step.easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"}}</p>
  </form>
</div>
