<div class="flexcol step-config-item" data-transition-type="zoomblur" data-id="{{id}}">
  <form>
    <input type="hidden" name="step.id" id="step.id" value="{{id}}">
    <p>{{localize "BATTLETRANSITIONS.ZOOMBLUR.DESCRIPTION"}}</p>

    <div class="form-group">
      <label for="step.label">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"}}</label>
      <input type="text" name="step.label" id="step.label" value="{{label}}">
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"}}</p>

    <div class="form-group">
      <label for="step.maxStrength">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOMBLUR.MAXSTRENGTH.LABEL"}}</label>
      {{#if isV1}}
        {{rangePicker
          name="step.maxStrength"
          value=maxStrength
          min=0
          max=1
          step=0.01
        }}
      {{else}}
        <range-picker value="{{maxStrength}}" min="0" max="1" id="step.maxStrength" name="step.maxStrength"></range-picker>
      {{/if}}
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOMBLUR.MAXSTRENGTH.HINT"}}</p>

    <div class="form-group">
      <label for="step.innerRadius">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOMBLUR.INNERRADIUS.LABEL"}}</label>
      {{#if isV1}}
        {{rangePicker
          name="step.innerRadius"
          value=innerRadius
          min=0
          max=1
          step=0.01
        }}
      {{else}}
        <range-picker value="{{innerRadius}}" min="0" max="1" id="step.innerRadius" name="step.innerRadius"></range-picker>
      {{/if}}
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.ZOOMBLUR.INNERRADIUS.HINT"}}</p>
    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
    {{> "/modules/battle-transitions/templates/config/dualtransition-selector.hbs" this}}
    <div class="form-group">
      <label for="step.easing">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.LABEL"}}</label>
      <select name="step.easing" id="step.easing">
        {{selectOptions easingSelect selected=easing localize=true}}
      </select>
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.EASING.HINT"}}</p>
  </form>
</div>
