<div class="tab standard-form transition-builder{{#if tab.active}} active{{/if}}" data-group="{{#if isV1}}main{{else}}sheet{{/if}}" data-tab="transition" data-application-part="transition" style="row-gap:8px;">
  <div class="form-group">
    <label for="transition.autoTrigger">{{localize "BATTLETRANSITIONS.SCENECONFIG.AUTOTRIGGER.LABEL"}}</label>
    <input type="checkbox" name="transition.autoTrigger" id="transition.autoTrigger" {{checked transition.autoTrigger}}/>
  </div>

  <div class="form-group">
    <label for="import">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fas fa-fw fa-upload link" data-action="importJson"></i>
    </div>
  </div>

  <div class="form-group">
    <label for="export">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fas fa-fw fa-download link" data-action="exportJson"></i>
    </div>
  </div>
  <hr />
  {{> "/modules/battle-transitions/templates/transition-steps.hbs" this}}
</div>