<div class="form-group">
  <label for="auto-trigger">{{localize "BATTLETRANSITIONS.SCENECONFIG.AUTOTRIGGER.LABEL"}}</label>
  <input
    type="checkbox" name="auto-trigger" id="auto-trigger" {{checked autoTrigger}}/>
</div>
<p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.AUTOTRIGGER.HINT" }}</p>
<div class="form-group">
  <label for="import">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.LABEL"}}</label>
  <div class="right-align">
    <i class="fas fa-fw fa-upload link" data-action="import-json"></i>
  </div>
</div>
<p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.HINT"}}</p>
<div class="form-group">
  <label for="export">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.LABEL"}}</label>
  <div class="right-align">
    <i class="fas fa-fw fa-download link" data-action="export-json"></i>
  </div>
</div>
<p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.HINT"}}</p>

{{> "/modules/battle-transitions/templates/transition-steps.hbs" this}}