<div class="dialog-content sheet transition-config v2 bt">
  <div class="dialog-header">
    <section class="search-box">
      {{!-- <i class="fas fa-search search-icon" style="position:absolute;right:4px;top:8px"></i> --}}
      <i class="fas fa-circle-xmark search-cancel" id="clear-search" title="{{localize "BATTLETRANSITIONS.DIALOGS.BUTTONS.CLEARSEARCH"}}" style="position:absolute;right:4px;top:8px;display:none"></i>
      <input type="text" id="search-text" name="search-text" class="search-text" placeholder="{{localize "BATTLETRANSITIONS.DIALOGS.ADDSTEP.SEARCH.PLACEHOLDER"}}">
    </section>
  </div>

  <nav class="sheet-tabs tabs" data-group="primary-tabs">
    {{#each tabs}}
      <a  data-tab="{{id}}">{{#if hasIcon}}{{{icon}}}
        {{/if}}{{localize title}}</a>
    {{/each}}
  </nav>
  <section class="tab-content">
  <form>
    {{#each tabs}}
      <div class="tab" data-tab="{{id}}" data-group="primary-tabs">
        <section class="two-columns">
        {{#each data}}
          {{> "/modules/battle-transitions/templates/config/add-step-button.hbs" this}}
        {{/each}}
        </section>
      </div>
    {{/each}}
  </form>
</section>
</div>
<hr>