<section data-role="transition-builder">
  {{#unless scene}}
    <label for="scene">{{localize "DOCUMENT.Scene"}}</label>
    <select name="scene" id="scene">
      <option></option>
      {{selectOptions scenesSelect}}
    </select>
  {{/unless}}
  <document-picker type="token"></document-picker>
  <div class="form-group">
    <label for="users">{{localize "DOCUMENT.Users"}}</label>
    <multi-select name="users" id="users">
      {{selectOptions usersSelect}}
    </multi-select>
    <p class="hint">{{localize "BATTLETRANSITIONS.TRANSITIONBUILDER.USERS.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="import">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fa-solid fa-fw fa-upload link" data-action="importJson"></i>
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="export">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fa-solid fa-fw fa-download link" data-action="exportJson"></i>
    </div>
    <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.HINT"}}</p>
  </div>

  {{#if canCreateMacro}}
    <div class="form-group">
      <label for="macro">{{localize "BATTLETRANSITIONS.SCENECONFIG.MACRO.LABEL"}}</label>
      <div class="right-align">
        <i class="fa-solid fa-fw fa-code link" data-action="saveMacro"></i>
      </div>
      <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.MACRO.HINT"}}</p>
    </div>
  {{/if}}

  <hr>
  <div class="flexrow">
    <label class="flex1">
      <h3>{{localize "BATTLETRANSITIONS.SCENECONFIG.TRANSITIONCONFIG.LABEL"}}</h3>
    </label>
    <div class="flex0">
      <i class="fa-solid fa-fw fa-plus link" data-action="addStep" data-tooltip="{{localize "BATTLETRANSITIONS.SCENECONFIG.BUTTONS.ADDSTEP"}}"></i>
    </div>
    <div class="flex0">
      <i class="fa-solid fa-fw fa-trash link" data-action="clearSteps" data-tooltip="{{localize "BATTLETRANSITIONS.SCENECONFIG.BUTTONS.CLEARSTEPS"}}"></i>
    </div>
  </div>
  
  <div data-role="transition-steps" style="position:relative;">
    {{#each sequence as |step|}}
      {{> "modules/battle-transitions/templates/transition-step.hbs" step}}
    {{/each}}
  </div>
  <p></p>
</section>