<div data-role="transition-builder">
  {{#if newScene}}
    <input type="hidden" name="scene" id="scene" value="{{newScene}}">
  {{else}}
    <div class="form-group">
      <label for="scene">{{localize "DOCUMENT.Scene"}}</label>
      <select name="scene" id="scene">
        {{selectOptions scenes selected=newScene}}
      </select>
    </div>
  {{/if}}
  {{#if oldScene}}<input type="hidden" name="oldScene" id="oldScene" value="{{oldScene}}">{{/if}}
  <div class="form-group">
    <label for="import">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fas fa-fw fa-upload link" data-action="importJson" style="position:relative"></i>
    </div>
  </div>
  <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.HINT"}}</p>
  <div class="form-group">
    <label for="export">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fas fa-fw fa-download link" data-action="exportJson" style="position:relative"></i>
    </div>
  </div>
  <p class="hint">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.HINT"}}</p>
  <hr />
  {{> "/modules/battle-transitions/templates/transition-steps.hbs" this}}
  <hr />
</div>