<div data-role="transition-builder">
  {{#if newScene}}
    <input type="hidden" name="scene" id="scene" value="{{newScene}}">
  {{else}}
    <div class="form-group">
      <label for="scene">{{localize "DOCUMENT.Scene"}}</label>
      <select name="scene" id="scene">
        <option></option>
        {{selectOptions scenes selected=newScene}}
      </select>
    </div>
  {{/if}}
  {{#if oldScene}}<input type="hidden" name="oldScene" id="oldScene" value="{{oldScene}}">{{/if}}
  <div class="form-group">
    <label for="users">{{localize "DOCUMENT.Users"}}</label>
    <multi-select name="users" id="users">
      {{selectOptions usersSelect }}
    </multi-select>
  </div>
  <p class="notes">{{localize "BATTLETRANSITIONS.DIALOGS.TRANSITIONBUILDER.USERS.HINT"}}</p>
  
  <div class="form-group">
    <label for="import">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fas fa-fw fa-upload link" data-action="importJson" style="position:relative"></i>
    </div>
  </div>
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.IMPORT.HINT"}}</p>
  
  <div class="form-group">
    <label for="export">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.LABEL"}}</label>
    <div class="right-align">
      <i class="fas fa-fw fa-download link" data-action="exportJson" style="position:relative"></i>
    </div>
  </div>
  <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.EXPORT.HINT"}}</p>

  {{#if canCreateMacro}}
    <div class="form-group">
      <label for="macro">{{localize "BATTLETRANSITIONS.SCENECONFIG.MACRO.LABEL"}}</label>
      <div class="right-align">
        <i class="fas fa-fw fa-code link" data-action="saveMacro" style="position:relative"></i>
      </div>
    </div>
    <p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.MACRO.HINT"}}</p>
  {{/if}}

  <hr />
  {{> "/modules/battle-transitions/templates/transition-steps.hbs" this}}
  <hr />
</div>